html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}

:root {
  --primary-font: Roboto;
  --secondary-font: Raleway;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --main-txt-cl: #434455;
}
/*Header*/
body {
  font-family: var(--primary-font), sans-serif;
  font-style: normal;
  color: var(--main-txt-cl);
  background-color: var(--white);
}
.page-header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.logo-link {
  color: var(--iris);
  font-family: var(--secondary-font), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-dark {
  color: var(--navy-blue);
}
.link {
  text-decoration: none;
}
.link-list {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  margin-right: 40px;
  padding: 24px 0 24px;
}

.link:hover {
  color: var(--ocean);
}
.link:focus {
  color: #404bbf;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.adr {
  font-style: normal;
  display: flex;
}
.link-cnt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 40px;
}
.email:hover {
  color: var(--ocean);
}

.logo-light {
  color: var(--cloud);
}

/*HW3*/
.container {
  width: 1158px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
}
.item {
  margin-top: 0;
  margin-bottom: 120px;
}
.work-card {
  margin-top: 0;
  margin-bottom: 72px;
}
.header-item {
  display: flex;
  align-items: center;
}
.logo-item {
  margin-right: 76px;
}

/*Section1*/
.hero-image {
  background-color: var(--grey);
  text-align: center;
  padding: 188px 0;
}
.hero-txt {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white);

  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.button-txt {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
}
.button-txt:hover,
.button-txt:focus {
  background-color: var(--ocean);
}

/*Section2*/
.title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-align: center;
}
.title-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}
.work-item {
  padding: 120px 0;
}
.title-item {
  display: flex;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}

/*Section3*/
.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey);
}
.work-card-item {
  padding-bottom: 120px;
}
.photo {
  display: flex;
  gap: 24px;
}
.photo-item {
  width: calc((100% - 48px) / 3);
}
/*Section4*/
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.card {
  background-color: var(--white);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  gap: 24px;
}
.card-item {
  width: calc((100% - 72px) / 4);
}
.team-item {
  margin-bottom: 72px;
}
.card-items {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

/*Footer*/
.ftr {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--cloud);
}
.ftr-item {
  display: inline-block;
  margin-bottom: 16px;
}

/*Portfolio*/

.filter-btn {
  font-family: var(--primary-font), sans-serif;
  color: var(--iris);
  background-color: var(--cloud);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  display: inline-block;
}
.filter-btn:hover {
  background-color: var(--ocean);
  color: var(--white);
}
.filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}
.works {
  color: var(--navy-blue);
}
